@charset "utf-8";
/* CSS Document */

html, body{
  height:100%;
  margin: 0;
} 

/* about */

.homepage_header{ 
display: block;
height: 100%;
min-height: 100%;
/* margin: 0 auto; */
overflow: hidden;
}

.homepage_text_wrap{
	width: 100%;
	height: 100%;
	min-height:100%;
	margin:0 auto;
	display: table;
	vertical-align: middle;
	padding-top: 25%;
	padding-bottom: 50%;
	table-layout: fixed;
	}

	
.homepage_bg1{
	min-height: 100%;
    height: 100%;

	width:100%;
	background:url(../images/about_bg1.jpg) no-repeat center center fixed;
/* 
	background-size: 100% auto;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
 */
/* 


url(http://placehold.it/1920x1080) no-repeat center center fixed;
 */

background-position-x: 50%;
background-position-y: 50%;
background-size: cover;
background-repeat-x: no-repeat;
background-repeat-y: no-repeat;
background-attachment: fixed;
background-origin: initial;
background-clip: initial;
background-color: initial;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;



}

.about_title{
	font-family:Arial, PMingLiu, Helvetica, sans-serif;
	font-size:25pt;
	font-weight:bold;
	color:#ffffff;
	line-height:35pt;
	text-align:center;
	padding: 0 10px 0 10px;
}

.about_title_content{
	font-size:14pt;
	line-height:25pt;
	font-family:Arial, PMingLiu, Helvetica, sans-serif;
	color:#ffffff;
	text-align:center;
	padding: 0 10px 0 10px;
}

.downloadtext{
	margin: 10px 0 0 0;
	text-align:center;
	font-family:Arial, PMingLiu, Helvetica, sans-serif;
	font-size:14pt;
	font-weight: semi-bold;
	color:#383838;
	z-index:100;
}



/*promotion*/

.promocontent{
	padding-top:40px;
	padding-bottom:40px;
}


.promoimage{
	margin: 0 auto;
}

.promotitle{
	font-weight:bold;
	color:#f7931d;
}

/*userguide*/

.guide1_en{
 text-indent: -9999px;
 background: url('../images/guide_menu.gif') no-repeat;
 background-position: 0px 0px;
 cursor: pointer;
 width: 170px;
 height: 30px;
 }

.guide1_en:hover {
	background-position:-170px 0px; 
	cursor:pointer;
}

.guide1_en.active {
	background-position:-170px 0px; 
}

.guide2_en{
 text-indent: -9999px;
 background: url('../images/guide_menu.gif') no-repeat;
 background-position: 0px -30px;
 cursor: pointer;
 width: 170px;
 height: 30px;
 }

.guide2_en:hover {
	background-position:-170px -30px; 
	cursor:pointer;
}

.guide2_en.active {
	background-position:-170px -30px; 
}

.guide3_en{
 text-indent: -9999px;
 background: url('../images/guide_menu.gif') no-repeat;
 background-position: 0px -60px;
 cursor: pointer;
 width: 170px;
 height: 30px;
 }

.guide3_en:hover {
	background-position:-170px -60px; 
	cursor:pointer;
}

.guide3_en.active {
	background-position:-170px -60px; 
	cursor:pointer;
}

.guide4_en{
 text-indent: -9999px;
 background: url('../images/guide_menu.gif') no-repeat;
 background-position: 0px -60px;
 cursor: pointer;
 width: 170px;
 height: 30px;
 }

.guide4_en:hover {
	background-position:-170px -60px; 
	cursor:pointer;
}

.guide4_en.active {
	background-position:-170px -60px; 
	cursor:pointer;
}

.guide5_en{
 text-indent: -9999px;
 background: url('../images/guide_menu.gif') no-repeat;
 background-position: 0px -60px;
 cursor: pointer;
 width: 170px;
 height: 30px;
 }

.guide5_en:hover {
	background-position:-170px -60px; 
	cursor:pointer;
}

.guide5_en.active {
	background-position:-170px -60px; 
	cursor:pointer;
}

.guide6_en{
 text-indent: -9999px;
 background: url('../images/guide_menu.gif') no-repeat;
 background-position: 0px -60px;
 cursor: pointer;
 width: 170px;
 height: 30px;
 }

.guide6_en:hover {
	background-position:-170px -60px; 
	cursor:pointer;
}

.guide6_en.active {
	background-position:-170px -60px; 
	cursor:pointer;
}

.guide7_en{
 text-indent: -9999px;
 background: url('../images/guide_menu.gif') no-repeat;
 background-position: 0px -60px;
 cursor: pointer;
 width: 170px;
 height: 30px;
 }

.guide7_en:hover {
	background-position:-170px -60px; 
	cursor:pointer;
}

.guide7_en.active {
	background-position:-170px -60px; 
	cursor:pointer;
}

.guide8_en{
 text-indent: -9999px;
 background: url('../images/guide_menu.gif') no-repeat;
 background-position: 0px -60px;
 cursor: pointer;
 width: 170px;
 height: 30px;
 }

.guide8_en:hover {
	background-position:-170px -60px; 
	cursor:pointer;
}

.guide8_en.active {
	background-position:-170px -60px; 
	cursor:pointer;
}

.guide9_en{
 text-indent: -9999px;
 background: url('../images/guide_menu.gif') no-repeat;
 background-position: 0px -60px;
 cursor: pointer;
 width: 170px;
 height: 30px;
 }

.guide9_en:hover {
	background-position:-170px -60px; 
	cursor:pointer;
}

.guide9_en.active {
	background-position:-170px -60px; 
	cursor:pointer;
}

.guide10_en{
 text-indent: -9999px;
 background: url('../images/guide_menu.gif') no-repeat;
 background-position: 0px -60px;
 cursor: pointer;
 width: 170px;
 height: 30px;
 }

.guide10_en:hover {
	background-position:-170px -60px; 
	cursor:pointer;
}

.guide10_en.active {
	background-position:-170px -60px; 
	cursor:pointer;
}



/*phototech*/

.box{
	width: 100%;
	height: 100%;
	display: table;
	vertical-align: middle;
	table-layout: fixed;
	border-bottom:1px solid #e0e0e0;	
}

.box2{
	width: 100%;
	height: 100%;
	display: table;
	vertical-align: middle;
	table-layout: fixed;
	border-bottom:1px solid #e0e0e0;	
}


.phototech01{
	background: url(../images/phototech01.jpg) no-repeat;
	background-size: auto 100%;
}
.phototech02{
	background: url(../images/phototech02.jpg) no-repeat;
	background-size: auto 100%;
}
.phototech03{
	background: url(../images/phototech03.jpg) no-repeat;
	background-size: auto 100%;
}
.phototech04{
	background: url(../images/phototech04.jpg) no-repeat;
	background-size: auto 100%;
}
.phototech05{
	background: url(../images/phototech05.jpg) no-repeat;
	background-size: auto 100%;
}
.phototech06{
	background: url(../images/phototech06.jpg) no-repeat;
	background-size: auto 100%;
}
.phototech07{
	background: url(../images/phototech07.jpg) no-repeat;
	background-size: auto 100%;
}
.phototech08{
	background: url(../images/phototech08.jpg) no-repeat;
	background-size: auto 100%;
}

.techtextR{
	position:relative;
	padding-left: 50px; 
	padding-right: 50px; 
}

.techtextL{
	position:relative;
	padding-left: 50px; 
	padding-right: 50px; 
}

/*faq*/

.standardNav{
	position:fixed;
	top:10%;
	right:0;
	background-color: #f4ecd5;
	width:30px;
	height:90px;
}

.standardNav{
	position: fixed !important;
	overflow: visible;
	z-index: 9999;
	right: 0;
	margin:0;
	margin-top:10%;
}
.standardNav ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.standardNav li {
	position: relative;
	display: block;
	float: left;
	margin-left:10px;
	margin-top: 14px;
	width: 10px;
	height: 10px;
	cursor: pointer;
}

.standardNav li a {
	top: -5px;
	right: -50px;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}

.standardNav li a:focus {
	outline: none;
}

.dotstyle-tooltip li {
	background:#f0c082;
	border-radius: 50%;
	z-index: 1;
	-webkit-transition: border-color 0.3s ease;
	transition: border-color 0.3s ease;
}

.dotstyle-tooltip li a {
	visibility: hidden;
	padding: 0 10px;
	width: 136px;
	height: auto;
	text-align: right;
	color: #f7931d;
	font-size: 10px;
	line-height: 16px;
	border-radius: 0;
	text-indent: 0;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
}

.dotstyle-tooltip li a::after { /* http: //cssarrowplease.com/ */
	position: absolute;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 10px;
	border-color: transparent;
	content: '';
	pointer-events: none;
	top: 99%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.no-touch .dotstyle-tooltip li:hover a,
.dotstyle-tooltip li.current a {
	z-index: 100;
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(0%);
	transform: translateX(-50%) translateY(0%);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.dotstyle-tooltip li.current {
	background: #f7931d;
}

.dotstyle-tooltip li:hover {
	z-index: 100;
}

.no-touch .dotstyle-tooltip ul:hover li.current a {
	opacity: 0.2;
}

.dotstyle-tooltip ul li.current:hover a {
	opacity: 1;
}


.section {
	padding-top:40px;
	padding-bottom:40px;
	border-bottom:1px solid #e0e0e0;	
}
.section :last-child {
    border-right: none; }

.btn_top {
	position: fixed;
	bottom: 0; 
	left: 50%; 
	margin-left:-25px;
	z-index:100;
} 

/*media*/
{.about_image{width:500px}}
@media screen and (max-width:767px){
.about_text{display:block;margin:0 auto;text-align:center;padding-bottom:30px;}
.about_image{max-width:100%;text-align:center;padding:30px 0 0 0}
.about_content{max-width: 500px;padding-top:25px;padding-bottom:0}
.about_content_inner{height:100%;display:table-cell;vertical-align:middle}
.about_content .single-column{height:100%;display:table-cell;vertical-align:middle}
.about_content .single-column{height:auto}
.about_content .about_content_inner{display:table-cell;vertical-align:middle;text-align:left}
.about_content .about_image{padding:0 0 0 0}
.about_content .about_content_inner{display:block;width:100%;margin:0 auto;text-align:center}
.pageScrollerNav{display:none;}
}
@media screen and (min-width:768px){.about_image{padding:30px 0 0 0}
.about_content{width:100%;height:100%;margin:0 auto;display:table;vertical-align:middle;padding-top:45px;padding-bottom:25px;table-layout:fixed}
.about_content .about_image{width:315px}
.about_content_inner+.about_image{padding:0 0 0 30px}
}

@media screen and (min-width:992px){
.about_content .about_image{width:407px}
.featurette-heading {margin-top: 40%;}
}
@media (max-width: 992px) {
	.box2{
	width: 100%;
	height: 100%;
	display: table;
	background-color:#ededed;
	vertical-align: middle;
	padding-top: 25px;
	table-layout: fixed;
	border-bottom:1px solid #e0e0e0;	
}

.phototech01{
    background: url(../images/phototech01_s.jpg) no-repeat;
	background-position:center;
	background-size: 100% auto;
  }
.phototech01 img{
	width:570px;
	  }
.phototech02{
    background: url(../images/phototech02_s.jpg) no-repeat;
	background-position:center;
	background-size: 100% auto;
  }
.phototech02 img{
	width:570px;
	  }
.phototech03{
    background: url(../images/phototech03_s.jpg) no-repeat;
	background-position:center;
	background-size: 100% auto;
  }
.phototech03 img{
	width:570px;
	  }
.phototech04{
    background: url(../images/phototech04_s.jpg) no-repeat;
	background-position:center;
	background-size: 100% auto;
  }
.phototech04 img{
	width:570px;
	  }
.phototech05{
    background: url(../images/phototech05_s.jpg) no-repeat;
	background-position:center;
	background-size: 100% auto;
  }
.phototech05 img{
	width:570px;
	  }
.phototech06{
    background: url(../images/phototech06_s.jpg) no-repeat;
	background-position:center;
	background-size: 100% auto;
  }
.phototech06 img{
	width:570px;
	  }
.phototech07{
    background: url(../images/phototech07_s.jpg) no-repeat;
	background-position:center;
	background-size: 100% auto;
  }
.phototech07 img{
	width:570px;
	  }
.phototech08{
    background: url(../images/phototech08_s.jpg) no-repeat;
	background-position:center;
	background-size: 100% auto;
  }
.phototech08 img{
	width:570px;
	  }
.techtextR, .techtextL{
	position:relative;
	margin: 0 auto;
	padding-left: 50px;
	padding-right: 50px;
	right:0;
	top:0;
	}
}
@media screen and (min-width:1200px){
.about_content .about_image{width:491px}}

