body {
  padding-top: 70px;
}

.dropdown-menu a{
	font-size:10px;
	color:#555;
}

.downloadbar {
	position: absolute;
    height: 100px;
	left: 0;
	width:100%;
    margin-top: 20px;
	background:#f2f2f2;
	padding-bottom:5px;
    z-index: 999;
}

@media screen and (max-width:1024px) and (min-width:768px) {
    .homepage_text_wrap{ margin-top: 20% ;}
}

@media screen and (min-width:1024px) {
    .homepage_text_wrap{ margin-top: 20% ;}
    
   
}

.appicon {
	position:relative;
	width:300px;
	padding:0;
	margin:0 auto;
}
.appicon img{
	width:150px;
	padding: 10px;
}

.footer{
	position: relative;
	margin:0;
	width:100%;
	background:#f2f2f2;
}

.appicon2 {
	position:relative;
	width:100%;
	max-width:430px;
	padding:20px;
	margin:0 auto;
	text-align: center;
}

.appicon2 img{
	padding: 10px;
}


.copyrightbar{
	margin:0 auto;
	position:relative;
	padding-top: 20px;
	height: auto;
}

.copyright{
	background: #f2f2f2;
	position:relative;
	float: left;
	width:70%;
	font-family:Arial, PMingLiu, Helvetica, sans-serif;
	font-size:9pt;
	color:#505050;
	line-height:20pt;
}

.copyright img{
	padding: 0px;
/*
	width:100%;
	max-width:26px;
*/

}

.socialbar{
	background: #f2f2f2;
	position:relative;
	float: left;
	width:30%;
	font-family:Arial, PMingLiu, Helvetica, sans-serif;
	font-size:9pt;
	color:#505050;
	text-align: right;
	line-height:20pt;
	padding-right:20px;
	padding-bottom:20px;
}

.socialbar img{
	padding: 0px;
/*	width:100%;*/
	max-width:154px;
}

.footerbar {
	width:100%;
	height:12px;
	position: relative;
	float:left;
	background:url(../images/footerbar.gif) no-repeat ;
	background-position:left;
}

.productof{
	max-width:152px;
}

.navbutton{
	margin-top:5px; margin-right:10px;
}

.navpulldown{
	margin-top:22px; margin-right:10px;
}

	
@media ( max-width :992px){
    .copyright{width:100%;text-align: center}
   .footer .socialbar{display:block;width:100%;margin:0 auto;text-align:center}
   .footer .socialbar img{max-width:40px;}
	.navpulldown{
		margin-left:15px; margin-top:0px; 
	}

	.navbutton{
		margin-left:15px; margin-top:0px; 
	}

}

@media screen and (min-width: 992px){.footer .copyright {text-align: left;}}
@media screen and (min-width: 992px){.footer .social {text-align: right;}}
@media screen and (max-width:767px){.footer .copyright{display:block;width:100%;margin:0 auto;text-align:center}}
@media screen and (max-width:767px){.footer .socialbar{display:block;width:100%;margin:0 auto;text-align:center}}
