@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Bold.ttf'); /* IE9 Compat Modes */
  src: url('OpenSans-Bold.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('OpenSans-Bold.ttf') format('woff2'), /* Super Modern Browsers */
       url('OpenSans-Bold.ttf') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}


html, body{
  height:100%;
  margin: 0;
} 

/* about */

.homepage_header{ 
display: block;
height: 100%;
min-height: 100%;

/* margin: 0 auto; */
overflow: hidden;
}

.homepage_text_wrap{
/*	height: 500px;*/
	margin:0 auto;
	display: table;
	vertical-align: middle;
	table-layout: fixed;
    
}


.homepage_text_wrap2{
/*
	width: 100%;
	height: 100%;
*/
    height: 500px;
	margin:0 auto;
	display: table;
	vertical-align: middle;
	table-layout: fixed;
}

.homepage_bg1{
	min-height: 100%;
    height: 100%;

	width:100%;
	background:url(../images/about_bg1.jpg) no-repeat center center fixed;
/* 
	background-size: 100% auto;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
 */
/* 


url(http://placehold.it/1920x1080) no-repeat center center fixed;
 */

background-position-x: 50%;
background-position-y: 50%;
background-size: cover;
background-repeat-x: no-repeat;
background-repeat-y: no-repeat;
background-attachment: fixed;
background-origin: initial;
background-clip: initial;
background-color: initial;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;



}

.homepage_bg2{
/*	min-height: 80%;*/
    height: 535px;
	width:100%;
	background:url(../images/about_bg8.jpg) no-repeat center center fixed;
background-position-x: 60%;
background-position-y: 20%;
background-size: cover;
background-repeat-x: no-repeat;
background-repeat-y: no-repeat;
background-attachment: fixed;
background-origin: initial;
background-clip: initial;
background-color: initial;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


.about_title{
	font-family:Arial, PMingLiu, Helvetica, sans-serif;
	font-size:25pt;
	font-weight:bold;
	color:#ffffff;
	text-shadow:0px 0px 8px #333333;
	line-height:35pt;
	text-align:center;
	padding: 0 10px 0 10px;
}

.about_title_content{
	font-size:14pt;
	line-height:25pt;
	font-family:Arial, PMingLiu, Helvetica, sans-serif;
	text-shadow:0px 0px 8px #333333;
	color:#ffffff;
	text-align:center;
	padding: 0 10px 0 10px;
}



.downloadtext{
	margin: 10px 0 0 0;
	text-align:center;
	font-family:Arial, PMingLiu, Helvetica, sans-serif;
	font-size:14pt;
	font-weight: semi-bold;
	color:#383838;
	z-index:100;
}



/*promotion*/

.promocontent{
	padding-top:40px;
	padding-bottom:40px;
}


.promoimage{
	margin: 0 auto;
}

.promotitle{
	font-weight:bold;
	color:#f7931d;
}

/*userguide*/

.standardNav2{
	position:fixed;
	overflow: visible;
	top:35%;
	right:0;
	background-color: #f4ecd5;
	width:30px;
	height:270px;
	z-index: 9999;
}

.standardNav2 ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
   
}

.standardNav2 li {
	position: relative;
	display: block;
	float: left;
	margin-left:10px;
	margin-top: 14px;
	width: 10px;
	height: 10px;
	cursor: pointer;
     
}

.standardNav2 li a {
	top: -5px;
	right: 20px;
	outline: none;
	border-radius: 50%;
  
/*	background-color: #fff;*/
	background-color: rgba(255, 255, 255, 0);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cffffff, endColorstr=#4cffffff)";
}

.standardNav2 li a:focus {
	outline: none;
}


/*phototech*/

.box{
	width: 100%;
	height: 100%;
	display: table;
	vertical-align: middle;
	table-layout: fixed;
	border-bottom:1px solid #e0e0e0;

}

.box2{
	width: 100%;
	height: 100%;
	display: table;
	vertical-align: middle;
	table-layout: fixed;
	border-bottom:1px solid #e0e0e0;
    
}


.phototech01{
	background: url(../images/phototech01.jpg) no-repeat;
	background-size: auto 100%;
}
.phototech02{
	background: url(../images/phototech02.jpg) no-repeat;
	background-size: auto 100%;
}
.phototech03{
	background: url(../images/phototech03.jpg) no-repeat;
	background-size: auto 100%;
}
.phototech04{
	background: url(../images/phototech04.jpg) no-repeat;
	background-size: auto 100%;
}
.phototech05{
	background: url(../images/phototech05.jpg) no-repeat;
	background-size: auto 100%;
}
.phototech06{
	background: url(../images/phototech06.jpg) no-repeat;
	background-size: auto 100%;
}
.phototech07{
	background: url(../images/phototech07.jpg) no-repeat;
	background-size: auto 100%;
}
.phototech08{
	background: url(../images/phototech08.jpg) no-repeat;
	background-size: auto 100%;
}

.techtextR{
	position:relative;
	padding-left: 50px; 
	padding-right: 50px; 
}

.techtextL{
	position:relative;
	padding-left: 50px; 
	padding-right: 50px; 
}

/*faq*/

.faq_header{ 
display: block;
height: 100%;
min-height: 100%;
/* margin: 0 auto; */
overflow: hidden;
}

.faq_text_wrap{
	width: 100%;
	height: 100%;
	min-height:100%;
	margin:0 auto;
	display: table;
	vertical-align: middle;
	padding-top: 3%;
	table-layout: fixed;
	}

.faq_bg{
	min-height: 140px;
    height: 20%;
    height: 250px\9; 
	width:100%;
	background:url(../images/faq_bg1.jpg) no-repeat center center fixed;
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: cover;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.faq_title{
	font-family:'OpenSans', Arial, Helvetica, sans-serif;
	font-weight: 700; 
	font-size:25pt;
	color:#ffffff;
    margin-top: 70px\9;
	text-shadow:0px 0px 8px #333333;
	line-height:35pt;
	text-align:center;
	padding: 0 10px 10px 10px;
}

.faq_title_content{
	font-size:14pt;
	line-height:25pt;
	font-family:Arial, PMingLiu, Helvetica, sans-serif;
	text-shadow:0px 0px 8px #333333;
	color:#ffffff;
	text-align:center;
	padding: 0 10px 0 10px;
}



.standardNav{
	position:fixed;
	overflow: visible;
	top:35%;
	right:0;
	background-color: #f4ecd5;
	width:30px;
	height:90px;
	z-index: 9999;
}

.standardNav ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.standardNav li {
	position: relative;
	display: block;
	float: left;
	margin-left:10px;
	margin-top: 14px;
	width: 10px;
	height: 10px;
	cursor: pointer;
}

.standardNav li a {
	top: -5px;
	right: 20px;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}

.standardNav li a:focus {
	outline: none;
}

.dotstyle-tooltip li {
/*	background:#f0c082;*/
    background-image:  url('../images/dot.gif'); /* 未 highlight 時的圖片 */
	border-radius: 50%;
	z-index: 1;
    margin: 10px;
}

html[lang='en'] .selector 
{
    .dotstyle-tooltip li {
	    background:#f0c082;
    }
    
    .dotstyle-tooltip li.current {
	background: #f7931d;
    }
}

.dotstyle-tooltip li a {
	visibility: hidden;
	padding: 0 10px;
	width: 136px;
	height: auto;
	text-align: right;
	color: #f7931d;
	font-size: 10px;
	line-height: 16px;
	border-radius: 0;
	text-indent: 0;
	opacity: 0;
}

.dotstyle-tooltip li a::after { /* http: //cssarrowplease.com/ */
	position: absolute;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 10px;
	border-color: transparent;
	content: '';
	pointer-events: none;
	top: 99%;
}

.no-touch .dotstyle-tooltip li:hover a,
.dotstyle-tooltip li.current a {
	z-index: 100;
	visibility: visible;
	opacity: 1;
}

.dotstyle-tooltip li.current {
/*	background: #f7931d;*/
    background-image:  url('../images/dot2.gif');  /* highlight 時的圖片 */
}

.dotstyle-tooltip li:hover {
	z-index: 100;
}

.no-touch .dotstyle-tooltip ul:hover li.current a {
	opacity: 0.2;
}

.dotstyle-tooltip ul li.current:hover a {
	opacity: 1;
}

.section {
	padding-top:40px;
	padding-bottom:40px;
	border-bottom:1px solid #e0e0e0;	
}
.section :last-child {
    border-right: none; }

.btn_top {
	position: fixed;
	bottom: 0; 
    bottom: -5px; 
	left: 50%; 
	margin-left:-25px;
	z-index:100;
} 
.{width: 100%;\9}

.section_header{ color: #f7941e; font-size: 25px;}
.section_header_red { color: #ed4134; font-size: 25px;}
.section_header_yellow { color: #f5d200; font-size: 25px;}
.featurette-heading {
	margin-top/*\**/: 100px\9;
	font-family:'OpenSans', Arial, Helvetica, sans-serif;
	font-weight: 700; 
}
/*.techtextL { padding-left: /*\**/: 10px\9; }*/
/*media*/
{.about_image{width:500px}}

@media screen and (max-width:767px){
#FAQ{ padding:0px}
.homepage_bg1{
/*    background-position: center 0px;*/
    background:url(../images/about_bg1s.jpg);
    height: 450px;
}


    
.standardNav2{
    position:fixed;
	overflow: visible;
	top:50px;
	right: 0px;
	background-color: #f4ecd5;
	width:30px;
	height:280px;
	z-index: 9999;
}
p.lead{text-align: center; margin-left: 10px;}
h2.section_header{font-size: 18px;}
h2.section_header_red { font-size: 18px;}
h2.section_header_yellow {  font-size: 18px;}
.featurette-heading {font-size: 30px;}
.about_text{display:block;margin:0 auto;text-align:center;padding-bottom:30px;}
.about_image{max-width:100%;text-align:center;padding:30px 0 0 0}
.about_content{max-width: 500px;padding-top:25px;padding-bottom:0}
.about_content_inner{height:100%;display:table-cell;vertical-align:middle}
.about_content .single-column{height:100%;display:table-cell;vertical-align:middle}
.about_content .single-column{height:auto}
.about_content .about_content_inner{display:table-cell;vertical-align:middle;text-align:left}
.about_content .about_image{padding:0 0 0 0}
.about_content .about_content_inner{display:block;width:100%;margin:0 auto;text-align:center}
.pageScrollerNav{ display: none}
.homepage_text_wrap{height:100%;padding-top: 70px;}
.homepage_text_wrap2{height:100%;padding-top: 50%;}
.faq_bg{min-height: 140px;height: 30%;}
.faq_text_wrap{padding-top: 10%;}
}
@media screen and (min-width:768px){
.about_image{padding:30px 0 0 0}
.about_content{width:100%;height:100%;margin:0 auto;display:table;vertical-align:middle;padding-top:45px;padding-bottom:25px;table-layout:fixed}
.about_content .about_image{width:315px}
.about_content_inner+.about_image{padding:0 0 0 30px}
.middle{ display:table-cell;text-align:left;vertical-align:middle;}
.techtextR{display: table;height: 400px}
.techtextL{display: table;height: 400px}
}

@media screen and (min-width:992px){
.about_content .about_image{width:407px}
.featurette-heading {margin-top:40%;}
.featurette-heading2 {margin-top:25%;}
}



@media (max-width: 768px) {
.text
.middle{
    display:table-cell;
    text-align:center;
}
    
/*
.homepage_text_wrap{height: 500px;padding-top: 30%;}
.homepage_text_wrap:not(*:root) {padding-top: 30%;}
*/

	.box2{
	width: 100%;
/*	height: 100%;*/
	display: table;
	background-color:#ededed;
	vertical-align: middle;
	table-layout: fixed;
	border-bottom:1px solid #e0e0e0;	
}

.phototech01{
    background: url(../images/phototech01_s.jpg) no-repeat;
	background-position:center;
	background-size: 100% auto;
  }
.phototech01 img{
	width:570px;
	  }
.phototech02{
    background: url(../images/phototech02_s.jpg) no-repeat;
	background-position:center;
	background-size: 100% auto;
  }
.phototech02 img{
	width:570px;
	  }
.phototech03{
    background: url(../images/phototech03_s.jpg) no-repeat;
	background-position:center;
	background-size: 100% auto;
  }
.phototech03 img{
	width:570px;
	  }
.phototech04{
    background: url(../images/phototech04_s.jpg) no-repeat;
	background-position:center;
	background-size: 100% auto;
  }
.phototech04 img{
	width:570px;
	  }
.phototech05{
    background: url(../images/phototech05_s.jpg) no-repeat;
	background-position:center;
	background-size: 100% auto;
  }
.phototech05 img{
	width:570px;
	  }
.phototech06{
    background: url(../images/phototech06_s.jpg) no-repeat;
	background-position:center;
	background-size: 100% auto;
  }
.phototech06 img{
	width:570px;
	  }
.phototech07{
    background: url(../images/phototech07_s.jpg) no-repeat;
	background-position:center;
	background-size: 100% auto;
  }
.phototech07 img{
	width:570px;
	  }
.phototech08{
    background: url(../images/phototech08_s.jpg) no-repeat;
	background-position:center;
	background-size: 100% auto;
  }
.phototech08 img{
	width:570px;
	  }
.techtextR, .techtextL{
	position:relative;
/*	margin: 0 auto;*/
     display:table;
/*   height:100%;*/
	padding-left: 5px;
	padding-right: 5px;
	right:0;
	top:0;
    min-height:50px;
	}
}

@media screen and (min-width:1200px){
.about_content .about_image{width:491px}}




